*{
    margin: 0;
    padding: 0;
}

.topBar{
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.logo{
    width: 75.38px;
    height: 40px;
    margin-left: 30.08px;
}

.trello-mark{
    width: 24px;
    height: 24px;
    margin-left: 30px;
    margin-top: 5px;
}

.textBoard{
    font-size: 16px;
    width: 56px;
    height: 24px;
    margin-left: 5px;
    margin-top: 5px;
}

.verticalLine{
    width: 0px;
    height: 32px;
    float: left; 
    border: 1px solid #D3D3D3;
    margin-left: 20px;
}

.icons{
    display: flex;
    gap: 50px;
    margin-left: 300px;
}

.profile{
    margin-left: 30px;
    width: 40px;
    height: 40px;
}

hr{
    margin-top: 10px;
    border-color: #D3D3D3;
}